@charset "UTF-8";

/*---------- フォント ----------*/
.markdown-body{font-family: Verdana, sans-serif ;}

.markdown-body h2{
  font-size: 1.2rem;
  color : #FFF;
  background: #2980B9;
  margin: 40px 0 25px 0;
  padding: 12px 15px 14px 20px;
}
.markdown-body h3{
  font-size: 1.2rem;
  color : #2980B9;
  margin: 40px 0 25px 0;
}
.markdown-body h2 + h3{margin-top: 20px;}

p{margin: 15px 0 15px 0;}

/*---------- カラー ----------*/
.red{color: #F00;}

/*---------- マージンn ----------*/
.mt15{margin-top: 15px !important;}
.mt20{margin-top: 20px !important;}
.mt30{margin-top: 30px !important;}

/*---------- リスト ----------*/
.markdown-body ol{
  border: solid 1px #CCC; 
  background: #F8F8F8;
  margin: 25px 0 30px 0;
  padding:20px;
}
.markdown-body ol li{margin-left: 25px;}
.markdown-body ul{margin: 25px 0;}

/*---------- アイコン＆ボックス ----------*/
.icon-blue{
  font-size: 0.9rem;
  color: #FFF;
  background: #2980B9;
  border-radius: 15px;
  margin-right: 5px;
  padding: 6px 14px;
}

.box-blue-border{
  border: solid 1px #2980B9;
  margin: 25px 0 25px 0;
  padding:20px;
}

/*---------- ページタイトル ----------*/
.main-title{
  min-height: 350px;
  position: relative;
  top: 0;
  background: url("docs/01-kotsubo/images/title_bg.png") #1D9BF0 no-repeat left bottom;
  margin-bottom: 60px;
  }
.main-text{
  z-index: 2;
  position: relative;
  top: 60px;
  left: 300px;
  margin-right: 5%;
  }
.markdown-body .main-title h1{
  width: 60%;
  font-size: 2.3rem;
  color: #FFF;
  border-bottom: none;
  }
.main-text .sub-titile{
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  color: #2980B9;
  background: #FFF;
  display: inline;
  padding: 7px 20px;
}
.main-title .main-image{
  z-index: 1;
  top: 0;
  position: absolute;
}

p + twitter-tweet{margin-top: 25px;}

.navigation-bottom{margin-top: 50px;}


/*-------------------------スマホ-------------------------*/
@media screen and (max-width:767px){
  .markdown-body .main-title{height: auto;}
  .markdown-body .main-title img{width: 60%;}
  
  .markdown-body .main-title h1{
    width: 95%;
    font-size: 1.8rem;}
  }
